.main-section{
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    margin-top: 28px;
    margin-left: 23px;
    padding-left: 40px;
    width: 798px;
    border-radius: 15px 15px 0 0;
    padding-right: 41px;
}

.main-section .main-title.-yellow{
    padding-top: 54px;
}

.main-section .input{
    margin-top: 26px;
    box-sizing: border-box;
    width: 718px;
    height: 44px;
    border: none;
    border-radius: 50px;
    background-color: #F5F5F5;
    background-image: url(../../img/lupa.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 16px 10px;
    padding-left: 50px;
    outline: none;
    margin-bottom: 20px;
}

.main-section.-minor{
    display: inline-block;
    width: 284px;
    margin-right: 35px;
}