.main-section{
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    margin-top: 28px;
    margin-left: 318px;
    padding-left: 40px;
    width: 798px;
}

.main-section .main-title.-yellow{
    padding-top: 54px;
}

.main-section .input{
    margin-top: 26px;
    width: 718px;
    height: 44px;
    border-radius: 50px;
}